.header{
    background-color: #083602;
    height:200px;
    width:99.2%;
    margin-top: 0%;
    position: fixed;
}

.title{
    text-align: center;
    font-size:2cm;
    color: white;
}
.domains{
    height: 150px;
    width: 250px;
    border-radius: 100%;
    border: 1px solid;
    border-color: black;
    background: #083602;
    position:relative;
    margin-top:13cm;
    display: inline-grid;
    align-items: center;
    text-align: center;
    font-size: 35px;
    color: white;
    

   
   
}
.flex{
    
    display: flex;
    justify-content: space-between;
}

a {
    text-decoration: none;
    color:inherit;
}